<div class="col-md-6">
	<h3 class="text-center">Words of advice</h3>
	<p id="tw">
		Here you can create a new event. But first have a few guidelines.
	</p>
	<div class="fadein4">
		<ul class="gl">
			<li>Pick a unique and rememberable event name</li>
			<li>Same goes for the password. And do not forget it!</li>
		</ul>
	</div>
</div>

<div class="col-md-6">
	<h3 class="text-center">Create new event</h3>
	<p>
		<form>
			<div class="input-group">
				<span class="input-group-addon">&#xf044;</span>
				<input type="text" class="form-control" placeholder="Event name" name="username" ng-model="user.username">
			</div>
			<div class="input-group">
				<span class="input-group-addon">&#xf023;</span>
				<input type="password" class="form-control" placeholder="Password" name="password" ng-model="user.password">
			</div>
			<div class="input-group">
				<span class="input-group-addon">&#xf023;</span>
				<input type="password" class="form-control" placeholder="Confirm password" name="password2" ng-model="user.password2">
			</div>
			<div class="input-group">
				<span class="input-group-addon">&#xf073;</span>
				<input type="datetime-local" class="form-control" placeholder="Date" name="date" ng-model="user.date">
			</div>
			<div class="input-group">
				<span class="input-group-addon">&#xf041;</span>
				<input type="text" class="form-control" placeholder="Location" name="location" ng-model="user.location">
			</div>
			<div class="resize_wrapper input-group">
				<span class="input-group-addon">&#xf10e;</span>
				<textarea type="text" class="form-control txtarea" placeholder="Description" name="description" ng-model="user.description"></textarea>
			</div>

			<div class="form-inline cbox">
				<span class="cbox">
					<label class="cbox">
						<input type="checkbox" class="cbox" name="confirm" value="yes" ng-click="toggleSelection($event)">
						<span class="cbox-target"></span> Click to confirm
					</label>
				</span>
				<button class="btn btn-danger fl-right" ng-click="create(user)" ng-disabled="!createBtnState">&#xf046; Create</button>
			</div>
		</form>
	</p>
</div>