<!-- spinning svg circle with text -->
<div class="spin fadein1">
	<svg id="spin" viewBox="0 0 150 150">
		<path id="spin-path" d=
		"M 75, 75
		m -75, 0
		a 75,75 0 1,0 150,0
		a 75,75 0 1,0 -150,0" 
		/>
		<text id="spin-text" font-size="14">
			<textPath xlink:href="#spin-path">
				Organize Group Events with MeetApp!
			</textPath>
		</text>
	</svg>
</div>

<h2 class="text-center fadein2">Well hello there!</h2>
<p class="fadein2">
	Welcome to meetApp! This is an app which you can use to organize group events. 
	Create an event and share it to your friends who then can post comments in the event. 
</p>
<br>
<p class="center fadein3">
	Get started! <a class="btn btn-danger" data-toggle="dropdown" data-target=".dropdown">log in</a>
	or <a class="btn btn-danger" href="#create">create an event</a>
</p>
<br>
<p class="fancy center fadein4">
	This app was created for a group assignment for a web technology course. Feel free to 
	start using it for any event planning purposes!
</p>