@media screen and (min-width: 767px) {
  .navbar {
    padding: 0 100px 0 200px;
    border-radius: 10px 10px 0 0;
  }
}

.navbar-toggle { margin-top: 17px; }
.login-drop { padding: 20px; min-width: 250px; border: none; }

.navbar {
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 0;
  padding-top: 25px;
}

.navbar-brand,
.navbar-nav li a {
  line-height: 70px;
  height: 70px;
  padding-top: 0;
}

.navbar-default {
  background-color: rgba(0,0,0,.4);
}
.navbar-default .navbar-brand {
  color: rgba(255,255,255,.8);
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: rgba(255,255,255,1);
  background: rgba(255,255,255,.5);
}
.navbar-default .navbar-text {
  color: rgba(255,255,255,.8);
}
.navbar-default .navbar-nav > li > a {
  color: rgba(255,255,255,.8);
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: rgba(255,255,255,1);
  background: rgba(255,255,255,.1);
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background: rgba(0,0,0,.8);
  border-radius: 5px 0px 5px 5px;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: rgba(255,255,255,.8);
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: rgba(255,255,255,1);
  background-color: white;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: white;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffffff;
  background-color: #38203b;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: rgba(255,255,255,1);
  background-color: white;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: rgba(255,255,255,1);
  background-color: rgba(255,255,255,.4);
}
.navbar-default .navbar-toggle {
  margin: 20px;
  background: rgba(255,255,255,.1);
  border: none;
  z-index: 10;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: rgba(255,255,255,.5);
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

@media (max-width: 767px) {
  .navbar {
    background-color: rgba(0,0,0,.6);
    padding-top: 0;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #bfaacb;
    background-color: rgba(0,0,0,.5);
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: white;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: rgba(0,0,0,.5);
  }
}

.navbar-default .navbar-collapse
{
    border-top: none;
    box-shadow: none;
}